<div class="row" id="cont1">
	  <div class="container">
	  <!--Article Section-->
	     <div id="sub3" class="col-lg-6  col-sm-12">
				<h1>WHO ARE WE?</h1>
		     <article>“ASU Racing Team” is a student organization founded in 2010, in the faculty of Engineering, Ain Shams University. It consists of a group of dedicated undergraduate engineering students aiming to revive the research in Egypt especially in the automotive technology, not only by theorizing but also by apply the theory in real life by building cars and robots. We are academically supervised by a group of doctors and TAs from the faculty of Engineering, Ain Shams University.
</article>
	     </div>

	   <!--Image Section-->
	     <div id ="sub4" class="col-lg-5 col-sm-12">
			<img src="https://pbs.twimg.com/profile_images/622015209511632896/52qaM5t-.png">
	    </div>
	   </div>
	</div>
